.navbar {
  width: 100;
  height: 20px;
  background-color: red;
  padding: 20px;
}

.menu-item {
  background-color: rgb(199, 222, 131);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-right ul {
  display: flex;
  list-style: none;
}

.menu-right ul li {
  margin-left: 20px;
}

.canvas {
  background-color: rgb(212, 212, 212);
  width: 100%;
  height: 20vh;
  padding: 20px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.square1 {
  background-color: rgb(137, 30, 30);
  width: 50px;
  height: 50px;
  padding: 20px;
  margin-top: 2rem;
}
.square2 {
  background-color: rgb(67, 42, 255);
  width: 25px;
  height: 25px;
  padding: 20px;
  margin-top: 2rem;
  margin-left: 20px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .menu-item {
    display: flex;
    flex-direction: column;
  }
}
